body{
  background-image: url('pic.JPEG');
  background-size: cover;
  height: 50%;
  padding-top: 90px;
  color: rgb(247, 225, 225);;
  font-family: sans-serif;
  font-size:x-small;

}
nav{
  background-color: #144b5e;
  padding: 20px;
  margin-bottom: 20px;


}
nav a{
  padding: 10px 15px;
  text-decoration: none ;
  color: whitesmoke;

}
nav a.active{
  background-color: red;
}
